<template name="i18n_easy_sections">
	<div class="sections col">
		<div class="cell tags">
			<ul class="nav mhm">
				<li class="blocks mrs"><a href="{{pathFor 'i18n_easy_admin'}}" class="capitalize {{clazz undefined}} phl animated"><i class="fa fa-chain-broken"></i> {{i18nDefault 'noSection'}}</a></li>

				{{#each sections}}
				<li class="blocks mrs">
					<a href="{{pathFor 'i18n_easy_admin'}}/{{this}}" class="capitalize {{clazz this}} phl animated">
						{{#if default}}{{this}}{{/if}}
						{{#unless default}}
						<span class="section-txt animated">{{this}}</span>
						<i class="delete fa fa-trash-o animated z1 color-bloodywhite phs hidden" title="{{i18nDefault 'delete'}}" data-section="{{this}}"></i>
						{{/unless}}
					</a>
				</li>
				{{/each}}

				{{#if newSection}}
				<li class="blocks"><a class="capitalize theme-grey color-magenta stealth phl" title="{{i18nDefault 'addOneKeyAtLeast'}}">{{section}}</a></li>
				{{/if}}
				{{#unless newSection}}
				<li>
					<input type="text" id="newSection" placeholder="{{i18nDefault 'newSection'}}" class="text medium-radius fatty">
					<a id="addSection" class="phn pull-right color-silver animated disabled" title="{{i18nDefault 'add'}}"><i class="fa fa-plus-circle fa-2x"></i></a>
				</li>
				{{/unless}}
			</ul>
		</div>
	</div>
</template>